<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Barselona control you</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Kitchen</h1>
<form action="#" th:action="@{/set-floor-mode}" method="post">

    <p th:text="'Room roomName: '"/>
    <p th:text="'roomName: ' + ${roomName}"/>
    <p th:text="'value: ' + ${value}"/>

    <p><input type="submit" value="Set temperature"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>